# jupyter notebook
.ipynb_checkpoints/
*.ipynb

# ds store
.DS_Store

# virtual environment
env/ 

# configs directory
.configs/credentials.yml
.configs/.api_key.yml

# python build
__pycache__
build/
define.egg-info/
dist/
.vscode/